<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>mktmpio: {{ page.title }}</title>
    <meta name="description" content="Documentation for the mktmpio service, its API, and its official clients." />

    <!-- Thanks, http://realfavicongenerator.net/ ! -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="apple-mobile-web-app-title" content="mktmpio">
    <meta name="application-name" content="mktmpio">
    <meta name="msapplication-TileColor" content="#318dba">
    <meta name="theme-color" content="#318dba">

    <!-- OpenGraph metadata for nicer website thumbnails -->
    <meta property="og:title" content="{{ site.title }} - {{ page.title }}" />
    <meta property="og:description" content"Documentation for the mktmpio service, its API, and its official clients." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:updated_time" content="{{ site.time | date_to_xmlschema }}" />
    <meta property="og:image" content="{{ site.baseurl }}/img/mktmpio.png" />
    <meta property="og:image:secure_url" content="https://mktmp.io/img/mktmpio.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body>
    <script>
      dataLayer = [
      ];
    </script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NMCF28"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NMCF28');</script>
    <!-- End Google Tag Manager -->

    <a href="https://github.com/mktmpio/docs.mktmp.io"><img
      style="z-index: 1000; position: absolute; top: 0; right: 0; border: 0;"
      src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
      alt="Fork me on GitHub"
      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
    ></a>

    <nav class="navbar navbar-dark bg-inverse" role="navigation">
      <a class="navbar-brand media-middle mktmpio-logo" href="https://mktmp.io/">
        <svg width="32" height="32" viewBox="0 0 100 100" version="1">
          <filter id = "i1" width = "150%" height = "150%">
            <feOffset result = "offOut" in = "SourceAlpha" dx = "1.5" dy = "1.7"/>
            <feGaussianBlur result = "blurOut" in = "offOut" stdDeviation = "1"/>
            <feBlend in = "SourceGraphic" in2 = "blurOut" mode = "normal"/>
          </filter>
          <path d="M10 0C5 0 0 5 0 10l0 80C0 95 5 100 10 100l80 0C95 100 100 95 100 90l0-80C100 5 95 0 90 0Z" fill="#acbfc9"/>
          <g style="fill:none;stroke-width:7;stroke:#fff" filter="url(#i1)">
            <g stroke-dasharray="200,5">
              <path d="M90 20C90 25 72 28 50 28 28 28 10 25 10 20 10 15 28 8 50 8 72 8 90 15 90 20Z" stroke-dashoffset="50"/>
              <path d="M90 20v58c0 5-18 14-40 14-22 0-40-9-40-14v-58" stroke-dashoffset="84.7"/>
            </g>
            <path d="m29 87c0-17 0-44 13-44 9 0 8 10 8 31 0-17 0-31 13-31 9 0 8 10 8 31" stroke-dashoffset="160"/>
          </g>
        </svg>
      </a>
      <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#primary-navbar-collapse">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="primary-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="https://mktmp.io/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="https://mktmp.io/get-started">Get Started</a></li>
          <li class="nav-item"><a class="nav-link" href="https://mktmp.io/plans">Plans &amp; Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="https://mktmp.io/downloads">Downloads</a></li>
          <li class="nav-item active"><a class="nav-link" href="http://docs.mktmp.io/">Docs</a></li>
          <li class="nav-item"><a class="nav-link" href="http://blog.mktmp.io/">Blog</a></li>
        </ul>
        <br/>
      </div>
    </nav>

    <div class="navbar navbar2 bg-primary-darker navbar-dark bg-inverse text-center" role="navigation">
      <ul class="nav navbar-nav">
        {% assign pages = site.html_pages | sort: 'title' %}
        {% for p in pages %}
          {% unless p.skip_nav %}
          <li class="nav-item {% if p.url == page.url %}active{% endif %}"><a class="nav-link" href="{{ p.url }}">{{ p.title }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>

    <div class="container">
      {{content}}
    </div>

    <hr />

    <div class="container">
      <footer>
        <span class="pull-right">
          <a href="http://blog.mktmp.io/" title="mktmpio blog"><img width="24" height="24" src="/img/glyphicons-356-bullhorn.png" /></a>
          <a href="https://twitter.com/mktmpio" title="mktmpio on Twitter"><img width="24" height="24" src="/img/social-32-twitter.png" /></a>
          <a href="https://github.com/mktmpio" title="mktmpio on GitHub"><img width="24" height="24" src="/img/social-22-github.png" /></a>
          <a href="mailto:mktmpio@datajin.com" title="email mktmpio"><img width="24" height="24" src="/img/social-40-e-mail.png" /></a>
        </span>
        <p>
          &copy; Datajin Technologies 2015
          |
          <a href="https://mktmp.io/terms-of-service">Terms of Service</a>
          |
          <a href="https://mktmp.io/privacy-policy">Privacy Policy</a>
        </p>

        {% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
        {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
        {% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
        {% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
        {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
        {% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
        {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
        {% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
        {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
        {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
        {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
        {% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
        {% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><i class="svg-icon googleplus"></i></a>{% endif %}

      </footer>
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4.0.0-alpha/dist/js/bootstrap.js"></script>
  </body>
</html>
